// fonts
$brandPrimary: 'Lobster', cursive;
$brandSecondary: 'Muli', sans-serif;

$colorPrimary: rgba(0,139,139, 0.7);

// media breakpoints - to be adjusted
$sml: ( max: 480px );
$mid: ( max: 560px );
$med: ( max: 768px );


